body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 16px);
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 0 0 4px;
}

.search-block {
    width: 212px;
    margin: 0 auto;
}
  
.search-input {
    height: 20px;
    padding: 1em 0.5em;
    background-color: #333333;
    border-style: hidden;
    outline: none;
    border-bottom: 2px solid #30c5ff;
    font: 300 1em 'Fira Sans', sans-serif;
    color: #70d6ff;
    transition: 0.25s;
}
  
.search-input::placeholder {
    color: #44859e;
    text-align: center;
}

.search-input:hover {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.search-input:hover::placeholder {
    color: #4e9e5c;
    text-align: center;
}

footer {
    margin-top: auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.github-link,
.rss-link {
    transition: 0.25s;
}

.github-link,
.year {
    color: #555;
    font-size: 15px;
}

.github-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.github-logo {
    width: 30px;
    height: 30px;
}

.rss-logo {
    width: 80px;
}

.github-link:hover,
.rss-link:hover {
    transform: scale(1.1);
}


@media (max-width: 500px) {
    footer {
        flex-direction: column;
        height: 100%;
        gap: 0;
        padding: 15px 0;
    }
    
    .year {
        margin: 10px 0 0 0;
    }
}