@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial-regular.ttf);
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia-regular.ttf);
}

/* ////////// basic normalize ////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ////////// wrapper, header ////////// */
html {
  scroll-behavior: smooth;
}

body {
  background: url(../../assets/img/noise_transparent@2x.png), #F1CDB3;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  padding: 30px 40px 30px 40px;
  height: 120px;
  display: flex;
  background: #FFF;
}

.logo {
  display: block;
  width: 190px;
  text-decoration: none;
}

.logo__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 2px;
  color: #545454;
}

.logo__description {
  padding-top: 10px;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #292929;
}

.main-menu {
  margin-left: auto;
}

.menu__container {
  display: flex;
  padding-top: 16px;
  gap: 2.25em;
  list-style: none;
}

.menu__link {
  position: relative;
  text-decoration: none;
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
  transition: 0.8s;
  cursor: pointer;
}

.menu__link:hover {
  color: #292929;
  text-shadow: 0 0 0 #292929;
  transition: 0.8s;
}

.menu__link:hover.active {
  text-shadow: 0 0 0 #292929;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 0;
  right: 0;
  height: 3px;
  background-color: #F1CDB3;
  transition: 0.5s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
  transition: 0.5s;
}

.active {
  position: relative;
  color: #292929;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 100%;
  right: 0;
  height: 3px;
  background-color: #F1CDB3;
}

/* ////////// section our friends ////////// */
.our-friends {
  padding: 80px 40px 100px 40px;
  background-color: #F5F5F5;
  text-align: center;
}

.section-title {
  width: 370px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2.1px;
  color: #545454;
}

.our-friends-title {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  margin-bottom: 60px;
}

.our-friends__slider {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
}

.card {
  text-align: center;
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  transition: 0.5s;
}

.card:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}

.card:hover .card-button {
  border: 2px solid transparent;
  background-color: #FDDCC4;
  transition: 0.5s;
}

.item-title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  border-style: none;
  background-color: #F1CDB3;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background-color: #FDDCC4;
  box-shadow: 0 0 5px 2.5px #F1CDB3;
  transition: 0.5s;
}

.card-button {
  margin-top: 30px;
  width: 187px;
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
}

.card-title {
  margin-top: 25px;
}

.slider-buttons {
  margin-top: 59px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: #F5F5F5;
  color: #292929;
  cursor: pointer;
  transition: 0.5s;
}

.slider__button:hover {
  border: 2px solid transparent;
  background-color: #FDDCC4;
  transition: 0.5s;
}

.slider-page-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  color: #292929;
}

.disabled {
  cursor: auto;
  border-color: #CDCDCD;
  color: #CDCDCD;
}

.disabled:hover {
  border: 2px solid #CDCDCD;
  background-color: transparent;
}

/* ////////// section footer ////////// */
.footer {
  padding: 40px 40px 0 40px;
  display: flex;
  gap: 140px;
  background: url(../../assets/img/noise_transparent@2x.png), linear-gradient(120deg, #5b483a 0%, #262425 70%, #211f20 100%);
}

.footer-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
}

.footer-link:hover {
  text-shadow: 0 0 5px #F1CDB3;
  transition: 0.5s;
}

.contacts-title,
.address-title {
  padding-top: 16px;
  width: 300px;
  color: #FFFFFF;
}

.footer-item-title {
  color: #F1CDB3;
}

.contacts-info,
.address-info {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-info {
  width: 320px;
}