@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial-regular.ttf);
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia-regular.ttf);
}

/* ////////// basic normalize ////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ////////// wrapper, header ////////// */
html {
  scroll-behavior: smooth;
}

body {
  background: url(../../assets/img/noise_transparent@2x.png), #F1CDB3;
}

body.open {
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  position: sticky;
  display: flex;
  top: 0;
  padding: 30px 40px 30px 40px;
  height: 120px;
  background: #FFF;
  transition: 0.5s;
}

@media (max-width: 1279px) {
  .header {
    padding: 30px 30px 30px 30px;
    transition: 0.5s;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 31px 10px 0 10px;
  }
}

.logo {
  display: block;
  width: 190px;
  text-decoration: none;
}

.logo__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 2px;
  color: #545454;
}

.logo__description {
  padding-top: 10px;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #292929;
}

.burger-menu {
  text-decoration: none;
  width: 30px;
  height: 22px;
  display: none;
  transition: 0.4s;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 767px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 19px;
    margin-right: 43px;
  }
  .burger-menu.open {
    transform: rotate(90deg);
  }
}

.burger-line {
  width: 100%;
  height: 2px;
  background-color: #000;
}

.main-menu {
  margin-left: auto;
  transition: 0.4s;
}

@media (max-width: 767px) {
  .main-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    right: -320px;
    padding: 30px 10px;
    width: 320px;
    height: 100vh;
    background-color: #FFF;
  }
  .main-menu.open {
    right: 0;
  }
}

.menu-logo {
  display: none;
  transition: 0.4s;
}

@media (max-width: 767px) {
  .menu-logo {
    display: block;
    opacity: 0;
  }
  .menu-logo.open {
    opacity: 1;
  }
}

.overlay {
  display: none;
}

@media (max-width: 767px) {
  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(41, 41, 41, 0.7);
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }
  .overlay.open {
    opacity: 1;
    visibility: visible;
  }
}

.menu__container {
  display: flex;
  padding-top: 16px;
  gap: 2.25em;
  list-style: none;
}

@media (max-width: 767px) {
  .menu__container {
    flex-direction: column;
    align-items: center;
    margin-top: 144px;
    gap: 41px;
  }
}

.menu__link {
  position: relative;
  text-decoration: none;
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
  transition: 0.8s;
  cursor: pointer;
}

.menu__link:hover {
  color: #292929;
  text-shadow: 0 0 0 #292929;
  transition: 0.8s;
}

.menu__link:hover.active {
  text-shadow: 0 0 0 #292929;
}

@media (max-width: 767px) {
  .menu__link {
    font-size: 32px;
    line-height: 51px;
  }
}

.active {
  position: relative;
  color: #292929;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 100%;
  right: 0;
  height: 3px;
  background-color: #F1CDB3;
}

/* ////////// section our friends ////////// */
.our-friends {
  padding: 80px 40px 100px 40px;
  background-color: #F5F5F5;
  text-align: center;
  transition: 0.5s;
}

@media (max-width: 1279px) {
  .our-friends {
    padding-bottom: 76px;
  }
}

@media (max-width: 767px) {
  .our-friends {
    padding: 42px 20% 42px 20%;
  }
}

@media (max-width: 500px) {
  .our-friends {
    padding: 42px 10px 42px 10px;
  }
}

.section-title {
  width: 370px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 25px;
    line-height: 32px;
    width: 287px;
  }
}

.our-friends-title {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  margin-bottom: 60px;
  transition: 0.5s;
}

@media (max-width: 1279px) {
  .our-friends-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .our-friends-title {
    margin-bottom: 42px;
    width: 287px;
  }
}

.our-friends__slider {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  transition: 0.5s;
}

@media (max-width: 1279px) {
  .our-friends__slider {
    column-gap: 20%;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .our-friends__slider {
    column-gap: 40px;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .our-friends__slider {
    column-gap: 30px;
  }
}

.card {
  text-align: center;
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  transition: 0.5s;
}

.card:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}

.card:hover .card-button {
  border: 2px solid transparent;
  background-color: #FDDCC4;
  transition: 0.5s;
}

@media (max-width: 1279px) {
  .card-seven,
  .card-eight {
    display: none;
  }
}

@media (max-width: 767px) {
  .card-four,
  .card-five,
  .card-six {
    display: none;
  }
}

.item-title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  border-style: none;
  background-color: #F1CDB3;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background-color: #FDDCC4;
  transition: 0.5s;
}

.card-button {
  margin-top: 30px;
  width: 187px;
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
}

.card-title {
  margin-top: 25px;
}

.slider-buttons {
  margin-top: 59px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 1279px) {
  .slider-buttons {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .slider-buttons {
    gap: 10px;
    margin-top: 42px;
  }
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: #F5F5F5;
  color: #292929;
  cursor: pointer;
  transition: 0.5s;
}

.slider__button:hover {
  border: 2px solid transparent;
  background-color: #FDDCC4;
  transition: 0.5s;
}

.slider-page-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  color: #292929;
}

.disabled {
  cursor: auto;
  border-color: #CDCDCD;
  color: #CDCDCD;
}

.disabled:hover {
  border: 2px solid #CDCDCD;
  background-color: transparent;
}

/* ////////// section footer ////////// */
.footer {
  padding: 40px 40px 0 40px;
  display: flex;
  gap: 140px;
  background: url(../../assets/img/noise_transparent@2x.png), linear-gradient(120deg, #5b483a 0%, #262425 70%, #211f20 100%);
}

@media (max-width: 1279px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20%;
  }
}

@media (max-width: 900px) {
  .footer {
    justify-content: center;
    padding: 30px 30px 0 30px;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 65px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 20% 0 20%;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 30px 10px 0 10px;
    row-gap: 40px;
  }
}

.footer-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
}

.footer-link:hover {
  text-shadow: 0 0 5px #F1CDB3;
  transition: 0.5s;
}

.contacts-title,
.address-title {
  padding-top: 18px;
  width: 300px;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
  .contacts-title,
  .address-title {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .contacts-title,
  .address-title {
    text-align: center;
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .address-title {
    width: 294px;
    padding-left: 5px;
  }
}

.footer-item-title {
  color: #F1CDB3;
}

.contacts-info,
.address-info {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .contacts-info,
  .address-info {
    width: 290px;
    height: 235px;
  }
}

@media (max-width: 767px) {
  .contacts-info {
    align-items: center;
    height: 207px;
  }
}

.address-info {
  width: 320px;
}

@media (max-width: 1279px) {
  .address-info {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .address-info {
    height: 222px;
  }
}

@media (max-width: 767px) {
  .footer-pet {
    width: 260px;
    height: 269px;
  }
}
