* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes appear {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.value-filter {
  margin: 10px;
  display: flex;
  gap: 10px;
}

.sorting {
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-input {
  margin: 10px;
  padding: 5px;
}

.product {
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  cursor: pointer;
  animation: appear 1s;
}

.hidden {
  display: none;
}

.product-modal {
  position: relative;
  top: calc(50% - 200px);
  left: calc(50% - 250px);
  width: 500px;
  height: 400px;
  padding: 0 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 45px 10px black;
  animation: appear 0.5s;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  animation: appear 0.5s;
}

// .modal-active {
//   opacity: 1;
// }

.close-modal-button {
  margin: 10px;
  cursor: pointer;
}

.error-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}