@font-face {
    font-family: Arial;
    src: url(../../assets/fonts/arial-regular.ttf);
}
@font-face {
    font-family: Georgia;
    src: url(../../assets/fonts/georgia-regular.ttf);
}

/* ////////// basic normalize ////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////////// wrapper, header ////////// */

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background: linear-gradient(90deg, #5b483a 0%, #211f20 100%);
}

.header {
    position: absolute;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px 0px 40px;
    left: 0;
    right: 0;
    height: 180px;
    display: flex;
}

.logo {
    display: block;
    width: 190px;
    // width: 184px;
    text-decoration: none;
}

.logo__title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.07em;
    // letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo__description {
    padding-top: 10px;
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
}

.main-menu {
    margin-left: auto;
}

.menu__container {
    display: flex;
    padding-top: 16px;
    gap: 35px;
    list-style: none;
}

.menu__link {
    text-decoration: none;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    transition: 0.8s;
    cursor: pointer;
    &:hover{
        color: #FAFAFA;
        transition: 0.8s;
    }
}

.main-page.active {
    position: relative;
    color: #FAFAFA;
    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 100%;
        right: 0;
        height: 3px;
        background-color: #F1CDB3;
    }
}

// .pets-page {
//     position: relative;
//     &::before {
//         content: "";
//         position: absolute;
//         bottom: -10px;
//         width: 0;
//         right: 0;
//         height: 3px;
//         background-color: #F1CDB3;
//         transition: 0.8s;
//     }
//     &:hover::before {
//         width: 100%;
//         left: 0;
//         transition: 0.5s;
//     }
// }

/* ////////// section welcome (not only) ////////// */

.welcome {
    display: flex;
    gap: 42px;
    padding: 180px 40px 0px 40px;
    background-image: url(../../assets/img/noise_transparent@2x.png);
}

.welcome-description {
    margin-top: 163px;
}

.welcome__title {
    font-family: Georgia;
    width: 310px;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #FFFFFF;
}

.welcome__text {
    margin-top: 42px;
}

.paragraph__text {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
}

.welcome__button {
    margin-top: 42px;
}

.button {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    border-style: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    transition: 0.8s;
    &:hover {
        background-color: #FDDCC4;
        transition: 0.8s;
    }
}