@font-face {
    font-family: Arial;
    src: url(../../assets/fonts/arial-regular.ttf);
}
@font-face {
    font-family: Georgia;
    src: url(../../assets/fonts/georgia-regular.ttf);
}

// Attention for students/mentors! Relative values are commented out for task's adaptive part.

/* ////////// basic normalize ////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////////// wrapper, header ////////// */

html {
    scroll-behavior: smooth;
}

body {
    background: url(../../assets/img/noise_transparent@2x.png), #F1CDB3;
    &.open {
        overflow: hidden;
    }
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    position: absolute;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px 0px 40px;
    left: 0;
    right: 0;
    height: 180px;
    transition: 0.5s;
    @media (max-width: 1279px) {
        padding: 31px 30px 0 30px;
        // padding: 30px 30px 0 30px;
        height: 150px;
        transition: 0.5s;
    }
    @media (max-width: 767px) {
        padding: 31px 10px 0 10px;
    }
}

.logo {
    display: block;
    width: 190px;
    text-decoration: none;
}

.logo__title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 2px;
    color: #F1CDB3;
}

.logo__description {
    padding-top: 10px;
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
}

.burger-menu {
    text-decoration: none;
    width: 30px;
    height: 22px;
    display: none;
    transition: 0.4s;
    z-index: 2;
    cursor: pointer;
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        margin-top: 19px;
        margin-right: 43px;
        &.open {
            transform: rotate(90deg);
        }
    }
}

.burger-line {
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
}

.main-menu {
    margin-left: auto;
    transition: 0.4s;
    @media (max-width: 767px) {
        position: fixed;
        z-index: 1;
        top: 0;
        right: -320px;
        padding: 30px 10px;
        width: 320px;
        height: 100vh;
        background-color: #292929;
        &.open {
            right: 0;
            overflow: auto;
        }
    }
}

.menu-logo {
    display: none;
    transition: 0.4s;
    @media (max-width: 767px) {
        display: block;
        opacity: 0;
        &.open {
            opacity: 1;
        }
    }
}

.overlay {
    display: none;
    @media (max-width: 767px) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(#292929, 0.7);
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        &.open {
            opacity: 1;
            visibility: visible;
        }
    }
}

.menu__container {
    display: flex;
    padding-top: 16px;
    // gap: 36px;
    gap: 2.25em;
    list-style: none;
    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        margin-top: 144px;
        gap: 41px;
    }
}

.menu__link {
    position: relative;
    text-decoration: none;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    transition: 0.8s;
    cursor: pointer;
    &:hover{
        color: #FAFAFA;
        text-shadow: 0 0 5px #FAFAFA;
        transition: 0.8s;
        &.active {
            text-shadow: 0 0 0 #FAFAFA;
        }
    }
    @media (max-width: 767px) {
        font-size: 32px;
        line-height: 51px;
    }
    // &::before {
    //     content: "";
    //     position: absolute;
    //     bottom: -7px;
    //     width: 0;
    //     right: 0;
    //     height: 3px;
    //     background-color: #F1CDB3;
    //     transition: 0.5s;
    // }
    // &:hover::before {
    //     width: 100%;
    //     left: 0;
    //     transition: 0.5s;
    // }
}

.active {
    position: relative;
    color: #FAFAFA;
    &::before {
        content: "";
        position: absolute;
        bottom: -7px;
        width: 100%;
        right: 0;
        height: 3px;
        background-color: #F1CDB3;
    }
}

/* ////////// section welcome (not only) ////////// */

.welcome {
    display: flex;
    gap: 42px;
    // gap: 3%;
    // gap: 2em;
    padding: 180px 40px 0px 40px;
    background:  url(../../assets/img/noise_transparent@2x.png), linear-gradient(120deg, #5b483a 0%, #262425 70%, #211f20 100%);
    transition: 0.5s;
    @media (max-width: 1279px) {
        // padding: 150px 30px 0 30px;
        padding: 152px 30px 0 30px;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        transition: 0.5s;
    }
    @media (max-width: 767px) {
        padding: 150px 10px 0 10px;
        gap: 105px;
    }
}

.welcome-description {
    // margin-top: 13.6%;
    // margin-top: 10.2em;
    margin-top: 163px;
    transition: 0.5s;
    @media (max-width: 1279px) {
        margin-top: 0;
        max-width: 60vw;
        transition: 0.5s;
        .welcome__form {
            text-align: center;
        }
    }
    @media (max-width: 767px) {
        text-align: center;
    }
    @media (max-width: 350px) {
        max-width: 100vh;
    }
}

.welcome__title {
    font-family: Georgia;
    // width: 70%;
    width: 310px;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #FFFFFF;
    @media (max-width: 767px) {
        margin: 0 auto;
        max-width: 200px;
        letter-spacing: 0.06em;
        font-size: 25px;
        line-height: 32px;
    }
}

.welcome__text {
    // margin-top: 9%;
    margin-top: 41px;
}

.welcome__button {
    // margin-top: 9%;
    margin-top: 42px;
}

.paragraph__text {
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
}

.button {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    border-style: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        background-color: #FDDCC4;
        // box-shadow: 0 0 5px 2.5px #F1CDB3;
        transition: 0.5s;
    }
}

.welcome-puppy {
    transition: 0.5s;
    @media (max-width: 1279px) {
        width: 569px;
        height: 593px;
        // width: 80%;
        // height: 80%;
    }
    @media (max-width: 800px) {
        align-self: flex-end;
    }
    @media (max-width: 767px) {
        width: 80%;
        height: 80%;
    }
    @media (max-width: 400px) {
        width: 260px;
        height: 272px;
    }
}

/* ////////// section about ////////// */

.about {
    padding: 80px 40px 100px 40px;
    display: flex;
    justify-content: center;
    gap: 120px;
    background-color: #FFFFFF;
    transition: 0.5s;
    @media (max-width: 1279px) {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
    @media (max-width: 767px) {
        padding: 43px 10px 42px 10px;
        gap: 42px;
    }
}

.section-title {
    width: 370px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    @media (max-width: 767px) {
        font-size: 25px;
        line-height: 32px;
        width: 287px;
    }
}

.about-title {
    @media (max-width: 767px) {
        width: 270px;
        text-align: center;
        margin: 0 auto;
    }
}

.about-description {
    width: 430px;
    padding-top: 14px;
    transition: 0.5s;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    @media (max-width: 1279px) {
        order: -1;
        padding-top: 0;
    }
    // @media (max-width: 767px) {
    //     width: auto;
    //     text-align: justify;
    // }
    @media (max-width: 767px) {
        width: 55vw;
        text-align: justify;
    }
    @media (max-width: 500px) {
        width: 270px;
    }
}

.about-description__text {
    @extend .paragraph__text;
    padding-top: 25px;
    color: #4C4C4C;
}

.about-description__text-two {
    @media (max-width: 767px) {
        padding-top: 22px;
    }
}

.about-pets {
    @media (max-width: 767px) {
        width: 260px;
        height: 354px;
    }
}

/* ////////// section our friends ////////// */

.our-friends {
    padding: 80px 40px 100px 40px;
    background-color: #F5F5F5;
    text-align: center;
    transition: 0.5s;
    @media (max-width: 1279px) {
        padding: 80px 10px 100px 10px;
        transition: 0.5s;
    }
    @media (max-width: 767px) {
        padding: 42px 8px 42px 8px;
    }
}

.our-friends-title {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    margin-bottom: 60px;
    @media (max-width: 767px) {
        width: 287px;
        margin-bottom: 42px;
    }
}

.our-friends__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 53px;
    transition: 0.5s;
    @media (max-width: 900px) {
        column-gap: 12px;
    }
    @media (max-width: 767px) {
        width: 270px;
        margin: 0 auto;
        flex-wrap: wrap;
        column-gap: 80px;
        row-gap: 20px;
    }
}

.slider__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F1CDB3;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    background-color: #F5F5F5;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        border: 2px solid transparent;
        background-color: #FDDCC4;
        transition: 0.5s;
    }
    @media (max-width: 767px) {
        &.left {
            order: 1;
        }
        &.right {
            order: 2;
        }
    }
}

.slider-container {
    position: relative;
    overflow: hidden;
}

.cards-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    gap: 90px;
    transition: 0.7s;
    @media (max-width: 1279px) {
        gap: 40px;
    }
    &.prev {
        position: absolute;
        top: 0;
        left: -1150px;
    }
    &.next {
        position: absolute;
        top: 0;
        left: 1150px;
    }
}

.card {
    text-align: center;
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    transition: 0.5s;
    &:hover {
        background-color: #FFFFFF;
        cursor: pointer;
        .card-button {
            border: 2px solid transparent;
            background-color: #FDDCC4;
            transition: 0.5s;
        }
    }
    &:nth-child(2) {
        @media (max-width: 767px) {
            display: none;
        }
    }
    &:nth-child(3) {
        @media (max-width: 1279px) {
            display: none;
        }
    }
}

// .card-two {
//     @media (max-width: 767px) {
//         display: none;
//     }
// }

// .card-three {
//     @media (max-width: 1279px) {
//         display: none;
//     }
// }

.item-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.card-button {
    margin-top: 30px;
    width: 187px;
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
}

.card-title {
    margin-top: 25px;
}

.our-friends__button {
    width: 261px;
    margin-top: 59px;
    @media (max-width: 767px) {
        margin-top: 42px;
    }
}

/* ////////// section help ////////// */

.help {
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background-color: #FFFFFF;
    @media (max-width: 767px) {
        padding: 42px 10px 42px 10px;
        gap: 42px;
    }
}

.help-title {
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 113px;
    @media (max-width: 1279px) {
        width: 170px;
    }
    @media (max-width: 767px) {
        width: 130px;
        height: 87px;
    }
}

.item-image {
    @media (max-width: 767px) {
        width: 50px;
        height: 50px;
    }
}

.help-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    justify-content: center;
    transition: 0.5s;
    @media (max-width: 1279px) {
        column-gap: 15%;
    }
    @media (max-width: 900px) {
        column-gap: 60px;
    }
    @media (max-width: 767px) {
        width: 350px;
        column-gap: 50px;
        margin: 0 auto;
        justify-content: flex-start;
    }
    @media (max-width: 500px) {
        width: 290px;
        column-gap: 30px;
        row-gap: 30px;
    }
    @media (max-width: 310px) {
        width: auto;
        column-gap: 0;
        justify-content: center;
    }
}

.help-item-title {
    @media (max-width: 767px) {
        font-size: 15px;
        line-height: 17px;
    }
}

/* ////////// section in addition ////////// */

.in-addition {
    padding: 80px 40px 100px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #F5F5F5;
    @media (max-width: 1279px) {
        flex-direction: column;
        gap: 60px;
    }
    @media (max-width: 767px) {
        padding: 42px 10px 42px 10px;
        gap: 42px;
    }
}

.addition-info {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 1279px) {
        order: -1;
    }
    @media (max-width: 767px) {
        align-items: center;
        width: 280px;
    }
}

.addition-title {
    @media (max-width: 767px) {
        text-align: center;
    }
}

.addition-description-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #545454;
    @media (max-width: 767px) {
        text-align: center;
        line-height: 24px;
        letter-spacing: normal;
    }
}

.addition-link {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 349px;
    height: 43px;
    background-color: #F1CDB3;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.8s;
    &:hover {
        background-color: #FDDCC4;
        transition: 0.8s;
    }
    @media (max-width: 767px) {
        width: 280px;
    }
}

.addition-link-text {
    @media (max-width: 767px) {
        font-size: 15px;
        line-height: 17px;
    }
}

.addition-text {
    font-family: Arial;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    @media (max-width: 767px) {
        text-align: justify;
    }
}

.addition-pet {
    @media (max-width: 767px) {
        width: 260px;
        height: 135px;
    }
}

/* ////////// section footer ////////// */

.footer {
    padding: 40px 40px 0 40px;
    display: flex;
    gap: 140px;
    background:  url(../../assets/img/noise_transparent@2x.png), linear-gradient(120deg, #5b483a 0%, #262425 70%, #211f20 100%);
    transition: 0.5s;
    @media (max-width: 1279px) {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20%;
    }
    @media (max-width: 900px) {
        justify-content: center;
        padding: 30px 30px 0 30px;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 65px;
    }
    @media (max-width: 767px) {
        padding: 30px 20% 0 20%;
    }
    @media (max-width: 500px) {
        padding: 30px 10px 0 10px;
        row-gap: 40px;
    }
}

.footer-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
    &:hover{
        text-shadow: 0 0 5px #F1CDB3;
        transition: 0.5s;
    }
}

.contacts-title,
.address-title {
    // padding-top: 5.5%;
    // padding-top: 0.5em;
    padding-top: 18px;
    width: 300px;
    color: #FFFFFF;
    @media (max-width: 1279px) {
        padding-top: 0px;
    }
    @media (max-width: 767px) {
        text-align: center;
    }
}

.address-title {
    @media (max-width: 767px) {
        width: 294px;
        padding-left: 5px;
    }
}

.footer-item-title {
    color: #F1CDB3;
}

.contacts-info,
.address-info {
    // width: 25%;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1279px) {
        width: 290px;
        height: 235px;
    }
}

.contacts-info {
    @media (max-width: 767px) {
        align-items: center;
        height: 207px;
    }
}

.address-info {
    width: 320px;
    @media (max-width: 1279px) {
        width: 300px;
    }
    @media (max-width: 767px) {
        height: 222px;
    }
}

.footer-pet {
    @media (max-width: 767px) {
        width: 260px;
        height: 269px;
    }
}