* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes loading-indicator {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes modal-minor-error-window {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
  background-color: #181818;
}

.loading-indicator-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.loading-indicator-message {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #54ff3f;
}

.loading-circles-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.loading-indicator-circle {
  width: 15px;
  height: 15px;
  background-color: #54ff3f;
  border-radius: 50%;
  animation: loading-indicator 1s infinite;
}

.loading-indicator-circle:first-child,
.loading-indicator-circle:last-child {
  animation-direction: reverse;
}

button {
  cursor: pointer;
  background-color: #3d3d3d;
  color: #54ff3f;
  border: hidden;
  outline: hidden;
  border-radius: 3px;
  transition: 0.5s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 0 #54ff3f;
}

button:active {
  transform: scale(0.9);
  box-shadow: 0 0 15px 0 #54ff3f;
}

button:disabled {
  transform: scale(1);
  box-shadow: none;
  background-color: #252525;
  color: #40773a;
  cursor: default;
}

.hidden {
  display: none;
}

.header-title {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
  padding: 20px 0;
  color: #fc49ff;
  text-shadow: 0 0 20px;
}

.switch-pages-buttons {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.to-garage-button,
.to-winners-button {
  padding: 5px 20px;
  text-transform: uppercase;
}

.control-panel-wrapper {
  text-align: center;
}

.hundred-cars-button,
.race-start-button,
.race-stop-button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: capitalize;
  margin: 15px 10px;
  width: 100px;
  height: 30px;
}

.hundred-cars-button {
  width: 120px;
}

.car-create-wrapper,
.car-update-wrapper {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-car-name {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0 5px;
  transition: 0.3s;
}

.input-car-name:focus {
  box-shadow: 0 0 10px white;
}

.input-car-color {
  background: #181818;
  border-color: #fc49ff;
  cursor: pointer;
  box-shadow: 0 0 3px #fc49ff;
}

.car-create-button,
.car-update-button {
  text-transform: uppercase;
  width: 70px;
  height: 20px;
}

.garage-title,
.cars-counter-wrapper,
.winner-title-wrapper {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px 0;
  text-align: center;
}

.garage-title,
.winner-page-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #54ff3f;
  text-shadow: 0 0 35px;
}

.cars-counter-wrapper {
  font-size: 20px;
}

.cars-counter-title,
.cars-counter {
  color: #fc49ff;
  text-shadow: 0 0 15px;
}

.car-view-wrapper {
  position: relative;
  padding: 10px 0;
}

.car-engine-status {
  position: absolute;
  width: 350px;
  top: 70px;
  left: calc(50% - 175px);
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #54ff3f;
  text-align: center;
  letter-spacing: 1.1;
  letter-spacing: 1px;
  text-shadow: 0 0 15px #54ff3f;
}

.car-select-button,
.car-remove-button {
  width: 90px;
  height: 25px;
  margin: 5px 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.car-title {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px 5px;
  color: #fc49ff;
  text-shadow: 0 0 20px;
}

.car-start-button,
.car-stop-button {
  margin: 5px 5px;
  width: 55px;
  height: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.car-image-wrapper {
  margin-top: 10px;
}

.car-image-wrapper,
.car-image-icon {
  width: 120px;
  height: 70px;
}

.finish-image-wrapper,
.finish-image-icon {
  width: 50px;
  height: 50px;
}

.finish-image-wrapper {
  position: absolute;
  right: 125px;
  top: 135px;
}

.car-road {
  border-top: 2px dashed black;
}

.pagination-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pagination-prev-button,
.pagination-next-button {
  width: 80px;
  height: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-counter-wrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #54ff3f;
  text-shadow: 0 0 15px;
}

.modal-wrapper {
  position: fixed;
  z-index: 10;
  top: calc(50% - 45px);
  left: calc(50% - 295px);
  text-align: center;
  width: 590px;
  height: 90px;
}

.modal-close-button {
  margin-left: auto;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background: inherit;
}

.modal-close-button:hover {
  box-shadow: none;
  transform: scale(1.5);
}

.modal-message {
  font-size: 35px;
  color: #54ff3f;
  text-shadow: 0 0 25px;
}

.winners-table-wrapper {
  margin: 20px auto;
  border: 2px solid #ae25b1;
  border-radius: 5px;
  max-width: 1000px;
  color: #54ff3f;
  text-shadow: 0 0 15px;
}

.winners-table-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.winners-table-views-wrapper {
  padding: 15px;
}

.winner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car-table-image,
.car-table-icon {
  width: 70px;
  height: 35px;
}

.winner-page-title {
  margin: 10px 0;
}

.winners-total-number {
  font-size: 20px;
  color: #fc49ff;
  text-shadow: 0 0 15px;
}

.winner-number-title,
.winner-table-number {
  width: 55px;
  text-align: center;
}

.winner-car-title {
  width: 70px;
  text-align: center;
}

.model-title,
.winner-table-model {
  width: 175px;
  text-align: center;
}

.winner-wins-title-button {
  padding: 5px;
  width: 70px;
}

.winners-table-wins-count {
  width: 70px;
  text-align: center;
}

.winner-time-title-button {
  padding: 5px;
  width: 150px;
  transition: 0.5s;
}

.winner-table-time {
  width: 150px;
  text-align: center;
  transition: 0.5s;
}

.app-footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fc49ff;
  text-shadow: 0 0 15px;
}

.github-link {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.github-link,
.rss-link {
  text-decoration: none;
  color: #fc49ff;
  text-shadow: 0 0 15px;
  transition: 0.8s;
}

.github-link:hover,
.rss-link:hover {
  transform: scale(1.15);
}

.github-image,
.github-image-icon {
  width: 35px;
  height: 35px;
}

.rss-image,
.rss-image-icon {
  width: 100px;
  height: 35px;
}

.github-link,
.app-year,
.rss-link {
  width: 130px;
  text-align: center;
}

.modal-error-wrapper {
  width: 700px;
  height: 400px;
  padding: 0 40px;
  border-radius: 10px;
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 350px);
  font-size: 30px;
  line-height: 1.5;
  background: #303030;
  color: #54ff3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  .modal-error-message {
    font-size: 20px;
  }
  .message-server-link {
    color: #47ff30;
    text-shadow: 0 0 10px #54ff3f;
  }
}

.modal-error-minor-wrapper {
  width: 350px;
  height: 350px;
  padding: 0 25px;
  border-radius: 10px;
  position: fixed;
  z-index: 20;
  top: 50px;
  right: 20px;
  font-size: 20px;
  line-height: 1.5;
  background: #303030;
  color: #54ff3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  .modal-error-message {
    font-size: 18px;
  }
  .modal-minor-error-button {
    width: 35px;
    height: 20px;
  }
  animation: modal-minor-error-window 3s;
}

@media (max-width: 800px) {
  .winner-time-title-button {
    width: 100px;
  }
  
  .winner-table-time {
    width: 100px;
  }
}
